<mat-dialog-content class="mat-typography">

  <mat-tab-group (selectedTabChange)="resetNewParticipant()">

    <mat-tab>
      <div class="container">

        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">photo_camera</mat-icon>
          Leitor
        </ng-template>

        <div class="loading-indicator" *ngIf="loading">
          <mat-spinner strokeWidth="3"
                       [diameter]="50">
          </mat-spinner>
        </div>

        <div *ngIf="!show" class="toggle">
          <i class="fa fa-qrcode fa-2x"></i>
          <mat-slide-toggle [(ngModel)]="toggle" (change)="onToggleChange()"></mat-slide-toggle>
          <i class="fa fa-barcode fa-2x"></i>
        </div>

        <div>
          <barcode-scanner-livestream type="code_39"
                                      (valueChanges)="onValueChanges($event)">
          </barcode-scanner-livestream>
        </div>

        <div *ngIf="!show && !toggle">
          <zxing-scanner [torch]="torchEnabled" (scanSuccess)="onCodeResult($event)"
                         [formats]="formatsEnabled" [tryHarder]="tryHarder" [autofocusEnabled]="true"
                         [enable]="!toggle" (camerasFound)="onCamerasFound($event)"></zxing-scanner>
        </div>

        <div *ngIf="show">
          <p class="text-modal">Nome do candidato: {{ newParticipant['participant_name'] }}</p>
          <p class="text-modal">Codigo de inscrição: {{ newParticipant['registration_code'] }}</p>
        </div>
      </div>
    </mat-tab>

    <mat-tab>
      <div class="container">

        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">create</mat-icon>
          Leitura Manual
        </ng-template>

        <div>
          <mat-form-field class="instantInput" appearance="outline" fxFlex>
            <mat-label>
              Codigo de Inscrição
            </mat-label>
            <input matInput [(ngModel)]="input_code"
                   type="text"
                   inputmode="numeric"
                   (input)="code.next($event.target.value)"
                   (keydown)="onChange()">
          </mat-form-field>
        </div>

        <div class="flex-container text-center" fxLayout="row" fxLayoutAlign="center center">
          <div class="flex-item">
            <mat-spinner color="Primary"
                         class="app-spinner"
                         strokeWidth="3"
                         [diameter]="30"
                         *ngIf="spinner">
            </mat-spinner>
          </div>
          <div class="flex-item" *ngIf="!spinner">
            <mat-card class="mat-elevation-z0 text-modal" *ngIf="message"> {{message}}</mat-card>
          </div>
        </div>

        <div *ngIf="show && !spinner">
          <p class="text-modal">
            Nome do candidato: {{ newParticipant['participant_name'] }}
          </p>
          <p class="text-modal">
            Codigo de inscrição: {{ newParticipant['registration_code'] }}
          </p>
        </div>

      </div>

    </mat-tab>

  </mat-tab-group>

</mat-dialog-content>
<mat-dialog-actions style="display: flex; justify-content: flex-end;">
  <button mat-button mat-dialog-close [mat-dialog-close]="true">Fechar</button>
  <button mat-button (click)="saveProtocol()" cdkFocusInitial>Salvar</button>
</mat-dialog-actions>
