.instantInput {
  width: 100%;
}

.text-modal {
  text-align: center;
  margin-top: 20px;

  @media screen and (min-width: 600px) {
    font-size: larger;
  }
  font-weight: bold;
}

.container {
  padding: 3%;
}

.tab-icon {
  margin-right: 8px;
}