<mat-dialog-content class="mat-typography">

  <mat-card class="mat-elevation-z0">
    <input class="instantInput" (input)="code.next($event.target.value)" (keydown)="onChange()"
           placeholder="Numero do barcode">
    <div class="flex-container text-center" fxLayout="row" fxLayoutAlign="center center">
      <div class="flex-item">
        <mat-spinner color="accent" class="app-spinner" *ngIf="spinner"></mat-spinner>
      </div>
      <div class="flex-item" *ngIf="!spinner">
        <mat-card class="mat-elevation-z0 text-modal" *ngIf="message"> {{message}}</mat-card>
      </div>
    </div>
  </mat-card>

  <mat-card class="mat-elevation-z0">
    <div *ngIf="show">
      <p class="text-modal">Nome do candidato: {{ newParticipant['participant_name'] }}</p>
      <p class="text-modal">Codigo de inscrição: {{ newParticipant['registration_code'] }}</p>
    </div>
    <div>
      <barcode-scanner-livestream type="code_39"
                                  (valueChanges)="onValueChanges($event)">
      </barcode-scanner-livestream>
    </div>
  </mat-card>

  <mat-card *ngIf="show" class="mat-elevation-z0">
  </mat-card>

</mat-dialog-content>
<mat-dialog-actions style="display: flex; justify-content: flex-end;">
  <button mat-button (click)="saveProtocol()" [mat-dialog-close]="true" cdkFocusInitial>Salvar</button>
</mat-dialog-actions>