<div class="container-fluid scroller_content">
  <div class="animated fadeIn">
    <div class="mat-elevation-z8">
      <div>
        <mat-card class="mat-elevation-z8 mat-card-search">

          <table mat-table [dataSource]="ratedataSource" class="mat-elevation-z8">
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <ng-container matColumnDef="uc">
              <th mat-header-cell *matHeaderCellDef> Unidade Curricular </th>
              <td mat-cell *matCellDef="let element"> {{element.uc}} </td>
            </ng-container>
            <!-- Position Column -->
            <ng-container matColumnDef="situation">
              <th mat-header-cell *matHeaderCellDef> Situação </th>
              <td mat-cell *matCellDef="let element"> {{element.situation}} </td>
            </ng-container>
            <!-- Position Column -->
            <ng-container matColumnDef="complaint">
              <th mat-header-cell *matHeaderCellDef> Reclamação </th>
              <td mat-cell *matCellDef="let element" class="actions_tab">
                <button mat-icon-button
                        color="primary"
                        (click)="openComplaint()">
                  <mat-icon aria-label="Edit" class="iconButton">feedback</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="review">
              <th mat-header-cell *matHeaderCellDef> Questão </th>
              <td mat-cell *matCellDef="let element" class="actions_tab">
                <button mat-icon-button
                        color="primary"
                        (click)="openReview()">
                  <mat-icon aria-label="Edit" class="iconButton">list</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="ratecolumns"></tr>
            <tr mat-row *matRowDef="let row; columns: ratecolumns;"></tr>
          </table>

        </mat-card>
      </div>
    </div>
  </div>
</div>
