<div class="container-fluid scroller_content">
  <div class="animated fadeIn">
    <div class="mat-elevation-z8">
      <div>
        <mat-tab-group
        animationDuration="0ms">
          <mat-tab>
          <ng-template mat-tab-label>
            Criar
          </ng-template>
        <mat-card class="mat-elevation-z8 mat-card-search">

          <div>Enunciado</div>
          <input matInput
                 type="text">

          <div>Comando</div>
          <input matInput
                 type="text">

          <div>Suporte</div>
          <input matInput
                 type="text">

          <div>Alternativa Correta</div>
          <input matInput
                 type="text">

          <div>Alternativa Incorreta - 1</div>
          <input matInput
                 type="text">

          <div>Alternativa Incorreta - 2</div>
          <input matInput
                 type="text">

          <div>Alternativa Incorreta - 3</div>
          <input matInput
                 type="text">

          <div>Alternativa Incorreta - 4</div>
          <input matInput
          type="text">

          <div>Dificuldade</div>
          <mat-select
            (selectionChange)="Course = $event.value">
            <mat-option [value]="1">HARD</mat-option>
            <mat-option [value]="2">CODED</mat-option>
            <mat-option [value]="3">OPTIONS</mat-option>
            <!--                <mat-option *ngFor="let course of course[0].course"-->
            <!--                            [value]="course.id">-->
            <!--                  {{ course.name }}-->
            <!--                </mat-option>-->
          </mat-select>
          <!--                </mat-option>-->

          <div>Curso</div>
          <mat-select
            (selectionChange)="Course = $event.value">
            <mat-option [value]="1">HARD</mat-option>
            <mat-option [value]="2">CODED</mat-option>
            <mat-option [value]="3">OPTIONS</mat-option>
            <!--                <mat-option *ngFor="let course of course[0].course"-->
            <!--                            [value]="course.id">-->
            <!--                  {{ course.name }}-->
            <!--                </mat-option>-->
          </mat-select>
          <!--                </mat-option>-->

          <div>Unidade Curricular</div>
          <mat-select
          (selectionChange)="CurricularUnit = $event.value">
            <mat-option [value]="1">HARD</mat-option>
            <mat-option [value]="2">CODED</mat-option>
            <mat-option [value]="3">OPTIONS</mat-option>
            <!--                <mat-option *ngFor="let uc of useruc[0].uc"-->
            <!--                            [value]="uc.id">-->
            <!--                  {{ uc.name }}-->
          </mat-select>
          <mat-checkbox>
            ACEITO OS TERMOS
          </mat-checkbox>
            <div class="submit">
              <button type="submit" (click)="onSubmit()" class="btn btn-primary px-4">
                Enviar
              </button>

            </div>
        </mat-card>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              Editar
            </ng-template>

            <mat-card class="mat-elevation-z8 mat-card-search">




            </mat-card>
          </mat-tab>

        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
