<div class="container-fluid scroller_content">
  <div class="animated fadeIn">
    <div class="mat-elevation-z8">
      <div>
        <mat-tab-group
        animationDuration="0ms">
          <mat-tab>
          <ng-template mat-tab-label>
            Criar
          </ng-template>
        <mat-card class="mat-elevation-z8 mat-card-search">

          <div>Enunciado</div>
          <input matInput
                 class="input"
                 type="text">

          <div>Comando</div>
          <input matInput
                 class="input"
                 type="text">

          <div>Suporte</div>
          <input matInput
                 class="input"
                 type="text">

          <div>Alternativa Correta</div>
          <input matInput
                 class="inputC"
                 type="text">

          <div>Alternativa Incorreta - 1</div>
          <input matInput
                 class="input"
                 type="text">

          <div>Alternativa Incorreta - 2</div>
          <input matInput
                 class="input"
                 type="text">

          <div>Alternativa Incorreta - 3</div>
          <input matInput
                 class="input"
                 type="text">

          <div>Alternativa Incorreta - 4</div>
          <input matInput
                 class="input"
                 type="text">

          <div>Dificuldade</div>
          <mat-select class="select"
            (selectionChange)="Course = $event.value">
            <mat-option [value]="1">HARD</mat-option>
            <mat-option [value]="2">CODED</mat-option>
            <mat-option [value]="3">OPTIONS</mat-option>
            <!--                <mat-option *ngFor="let course of course[0].course"-->
            <!--                            [value]="course.id">-->
            <!--                  {{ course.name }}-->
            <!--                </mat-option>-->
          </mat-select>
          <!--                </mat-option>-->

          <div>Curso</div>
          <mat-select class="select"
            (selectionChange)="Course = $event.value">
            <mat-option [value]="1">HARD</mat-option>
            <mat-option [value]="2">CODED</mat-option>
            <mat-option [value]="3">OPTIONS</mat-option>
            <!--                <mat-option *ngFor="let course of course[0].course"-->
            <!--                            [value]="course.id">-->
            <!--                  {{ course.name }}-->
            <!--                </mat-option>-->
          </mat-select>
          <!--                </mat-option>-->

          <div>Unidade Curricular</div>
          <mat-select class="select"
          (selectionChange)="CurricularUnit = $event.value">
            <mat-option [value]="1">HARD</mat-option>
            <mat-option [value]="2">CODED</mat-option>
            <mat-option [value]="3">OPTIONS</mat-option>
            <!--                <mat-option *ngFor="let uc of useruc[0].uc"-->
            <!--                            [value]="uc.id">-->
            <!--                  {{ uc.name }}-->
          </mat-select>
          <mat-checkbox>
            ACEITO OS TERMOS
          </mat-checkbox>
            <div class="submit">
              <button type="submit" (click)="onSubmit()" class="btn btn-primary px-4">
                Enviar
              </button>

            </div>
        </mat-card>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              Editar
            </ng-template>

            <mat-card class="mat-elevation-z8 mat-card-search">

              <table mat-table [dataSource]="editdataSource" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="statement">
                  <th mat-header-cell *matHeaderCellDef> Enunciado </th>
                  <td mat-cell *matCellDef="let element"> {{element.statement}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="situation">
                  <th mat-header-cell *matHeaderCellDef> Situação </th>
                  <td mat-cell *matCellDef="let element"> {{element.situation}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> Ação </th>
                  <td mat-cell *matCellDef="let element" class="actions_tab">
                    <button mat-icon-button
                            color="primary">
<!--                            [routerLink]="['/criar',element.question_id]">-->
                      <mat-icon aria-label="Edit" class="iconButton">edit</mat-icon>
                    </button>
                  </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="editcolumns"></tr>
                <tr mat-row *matRowDef="let row; columns: editcolumns;"></tr>
              </table>



            </mat-card>
          </mat-tab>

        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
