<ol class="breadcrumb">
  <li class="breadcrumb-item">
    Lista
  </li>
  <li class="breadcrumb-item">
    Concursos
  </li>
</ol>
<div class="container-fluid scroller_content">
  <div class="animated fadeIn">
    <div class="mat-elevation-z8">
      <div class="loading-indicator" *ngIf="loading">
        <mat-spinner strokeWidth="3"
                     [diameter]="75">
        </mat-spinner>
      </div>
      <table mat-table [dataSource]="groupsReaderDataSource">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'VIEWS.LIST.ID_COLUMN_TABLE' | translate }}
          </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'VIEWS.LIST.NAME_COLUMN_TABLE' | translate }}
          </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef style="text-align: right; padding-right: 5%;">
            {{ 'VIEWS.LIST.ACTIONS_COLUMN_TABLE' | translate }}
          </th>
          <td mat-cell *matCellDef="let element" class="actions_tab">
            <button mat-icon-button
                    matTooltip="{{ 'VIEWS.LIST.TOOLTIP_EDIT_BUTTON' | translate }}"
                    color="primary"
                    [routerLink]="['/concurso',element.id]">
              <mat-icon aria-label="Edit" class="iconButton">edit</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <div class="footer_search"></div>

</div>
