.boasvindas {
  font-size: 40px !important;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.cargo {
  font-size: 23px !important;
  font-family: 'Lato', sans-serif;
  text-align: center;
}
