.sidebar {
  background: #187da0;
}
.sidebar .nav-link {
  color: #fff;
}
.sidebar .nav-title {
  background-color: red;
}
.nav_avatar {
  padding-right: 1%
}

.sidebar-minimized .sidebar .nav-link .nav-icon {
  color: #ffffff;
}

.sidebar .nav-link.active .nav-icon {
  color: #ffffff;
}

.footer-dash {
  font-size: x-small;
}

.user-name {
  top: 6px;
  padding: 0px;
  text-align: left;
}

@media (max-width: 400px) {
  .user-name {
    display: none;
  }
}

