<app-header
        [navbarBrandRouterLink]="['/']"
        [fixed]="true"
        [navbarBrandFull]="{src: 'assets/img/brand/icon_fepese.png', width: '40%', height: '50%', alt: 'FEPESE'}"
        [navbarBrandMinimized]="{src: 'assets/img/brand/navbrand-mini.png',width: 55, height: 40, alt: 'FEPESE'}"
        [sidebarToggler]="'lg'"
        [mobileAsideMenuToggler]="false"
        [asideMenuToggler]="''">
<div class="loading-indicator" *ngIf="loading">
    <mat-spinner
            class="spinner"
            strokeWidth="3"
            [diameter]="75">
    </mat-spinner>
    <br>
    Carregando concursos...
    <br>
    Por favor aguarde
</div>
