<ol class="breadcrumb">
  <li class="breadcrumb-item">
    Lista
  </li>
  <li class="breadcrumb-item">
    <a href="#/">
      Concursos
    </a>
  </li>
  <li class="breadcrumb-item">
    {{ groupsReaderDataSource[0].name }}
  </li>
</ol>
<mat-tab-group  (selectedTabChange)="collapseAllocation($event)">
  <mat-tab label="Faltantes">
    <div class="container-fluid scroller_content">
      <div class="animated fadeIn">
        <div class="button_fab_list">
          <a mat-mini-fab color="primary"
             matTooltip="{{ 'VIEWS.LIST.TOOLTIP_ADD_BUTTON' | translate }}"
             (click)="openReader()">
            <mat-icon>add</mat-icon>
          </a>
        </div>
        <div class="mat-elevation-z8">
          <div class="loading-indicator" *ngIf="loading">
            <mat-spinner strokeWidth="3"
                         [diameter]="75">
            </mat-spinner>
          </div>
          <mat-form-field id="search-termMissing"
                          appearance="outline"
                          style="background-color: #f3f4f5;
                          width: 100%;">
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="applyFilterMissing($event.target.value)" placeholder="">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>

          <mat-divider></mat-divider>

          <mat-table [dataSource]="dataSourceMissing">
            <ng-container matColumnDef="registration_code">
              <mat-header-cell *matHeaderCellDef>
                {{ 'VIEWS.LIST.ID_COLUMN_TABLE' | translate }}
              </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.registration_code}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="participant_name">
              <mat-header-cell *matHeaderCellDef>
                {{ 'VIEWS.LIST.NAME_COLUMN_TABLE' | translate }}
              </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.participant_name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
              <mat-header-cell class="actions" *matHeaderCellDef>
                {{ 'VIEWS.LIST.ACTIONS_COLUMN_TABLE' | translate }}
              </mat-header-cell>
              <mat-cell *matCellDef="let element"
                        class="actions_tab"
                        style="margin-right: 2%">
                <button mat-icon-button
                        matTooltip="{{ 'VIEWS.LIST.TOOLTIP_REMOVE_BUTTON' | translate }}"
                        color="primary"
                        (click)="removeProtocol(element.registration_code)">
                  <mat-icon aria-label="Delete"
                            class="iconButton">
                    delete
                  </mat-icon>
                </button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumnsMissing"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumnsMissing;"></mat-row>
          </mat-table>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Local de prova">
    <div class="container-fluid scroller_content">
      <div class="animated fadeIn">

      <div class="mat-elevation-z8">
          <div class="loading-indicator" *ngIf="loading">
            <mat-spinner strokeWidth="3"
                         [diameter]="75">
            </mat-spinner>
          </div>
          <mat-form-field id="search-termSearch"
                          appearance="outline"
                          style="background-color: #f3f4f5;
                          width: 100%;">
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="applyFilterSearch($event.target.value)" placeholder="">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>

          <mat-divider></mat-divider>

          <table mat-table [dataSource]="dataSourceSearch" multiTemplateDataRows>
            <ng-container matColumnDef="{{ column }}" *ngFor="let column of displayedColumnsSearch; let i= index">
              <th mat-header-cell *matHeaderCellDef> {{ ColumnNames[i] }} </th>
              <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
              <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsSearch.length">
                <div class="element-detail"
                     [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                  <div *ngIf="!element.allocation_code" class="element-description">
                    Local de prova não encontrado
                  </div>
                  <div class="element-description">
                    {{element.allocation_code}}
                  </div>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsSearch"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumnsSearch;"
                class="element-row"
                [class.expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
          </table>

        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

