// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

//body {margin: 0; height: 100%; overflow: hidden}

.breadcrumb-fixed {
  position: fixed;
  z-index: 300;
  width: 100%;
  margin-bottom: 2%;
}

.breadcrumb-push {
  margin-top: 5em;
}

.mat-step-header
.mat-step-icon-selected,
.mat-step-header
.mat-step-icon-state-done,
.mat-step-header
.mat-step-icon-state-edit {
  background-color: #1196db;
  color: #fff;
}

#search-term
.mat-form-field-wrapper {
  padding: 1%;
}

@media screen and (max-width: 700px) {
  .main .container-fluid {
    padding: 0 15px;
  }
}
