<div class="container-fluid scroller_content">
  <div class="animated fadeIn">
    <div class="mat-elevation-z8">
      <div>
        <mat-card class="mat-elevation-z8 mat-card-search">

          <div>Criar Usuário</div>
          <div>

            <input matInput
                   class="input"
                   [ngModel]="createuser_email"
                   placeholder="E-mail"
                   type="text">

            <input matInput
                   class="input"
                   [ngModel]="createuser_password"
                   placeholder="Senha"
                   type="text">

            <mat-select class="select"
                        placeholder="Tipo do Usuário"
                        (selectionChange)="createuser_type = $event.value">
                <mat-option *ngFor="let type of typeDataSource" [value]="type.idTipo">
                  {{ type.tipo }}
                </mat-option>
            </mat-select>

          </div>
          <br>

          <div class="submit">
            <button type="submit" (click)="createuser()" class="btn btn-primary px-4">
              Enviar
            </button>

          </div>

        </mat-card>
      </div>
    </div>
  </div>
</div>
