
.select {
  width: 33%;
}

.input {
  border-style: solid !important;
  border-radius: 1.2px;
  border-color: #009785 !important;
}

.mat-select {
  border-style: solid !important;
  border-radius: 1.2px;
  border-color: #009785 !important;
}
