<div class="container-fluid scroller_content">
  <div class="animated fadeIn">
    <div class="mat-elevation-z8">
      <div>
        <mat-card class="mat-elevation-z8 mat-card-search">

          <div>Criar Usuário</div>
          <div>
            <mat-select class="selectL" placeholder="Id do Usuário"
                        (selectionChange)="createuser_userid = $event.value">
              <mat-option [value]="1">HARD</mat-option>
              <mat-option [value]="2">CODED</mat-option>
              <mat-option [value]="3">OPTIONS</mat-option>
              <!--                <mat-option *ngFor="let uc of useruc[0].uc"-->
              <!--                            [value]="uc.id">-->
              <!--                  {{ uc.name }}-->
            </mat-select>

            <mat-select class="selectR"  placeholder="Tipo do Usuário"
                        (selectionChange)="createuser_usertype = $event.value">
              <mat-option [value]="1">HARD</mat-option>
              <mat-option [value]="2">CODED</mat-option>
              <mat-option [value]="3">OPTIONS</mat-option>
              <!--                <mat-option *ngFor="let uc of useruc[0].uc"-->
              <!--                            [value]="uc.id">-->
              <!--                  {{ uc.name }}-->
            </mat-select>
          </div>
          <br>
          <mat-divider></mat-divider>
          <br>
          <div>Deletar Usuário</div>
          <div>
            <mat-select class="selectL" placeholder="Id do Usuário"
                        (selectionChange)="createuser_userid = $event.value">
              <mat-option [value]="1">HARD</mat-option>
              <mat-option [value]="2">CODED</mat-option>
              <mat-option [value]="3">OPTIONS</mat-option>
              <!--                <mat-option *ngFor="let uc of useruc[0].uc"-->
              <!--                            [value]="uc.id">-->
              <!--                  {{ uc.name }}-->
            </mat-select>
          </div>
          <br>
          <mat-divider></mat-divider>
          <br>
          <div>Alterar/Adicionar Tipo</div>
          <div>
            <mat-select class="selectL" placeholder="Id do Usuário"
                        (selectionChange)="createuser_userid = $event.value">
              <mat-option [value]="1">HARD</mat-option>
              <mat-option [value]="2">CODED</mat-option>
              <mat-option [value]="3">OPTIONS</mat-option>
              <!--                <mat-option *ngFor="let uc of useruc[0].uc"-->
              <!--                            [value]="uc.id">-->
              <!--                  {{ uc.name }}-->
            </mat-select>

            <mat-select class="selectR" placeholder="Tipo do Usuário"
                        (selectionChange)="createuser_usertype = $event.value">
              <mat-option [value]="1">HARD</mat-option>
              <mat-option [value]="2">CODED</mat-option>
              <mat-option [value]="3">OPTIONS</mat-option>
              <!--                <mat-option *ngFor="let uc of useruc[0].uc"-->
              <!--                            [value]="uc.id">-->
              <!--                  {{ uc.name }}-->
            </mat-select>
          </div>

        </mat-card>
      </div>
    </div>
  </div>
</div>
